<table class="table table-bordered table-condensed table-striped">
    <caption>Pactice History</caption>
    <tr>
      <th>Duration</th>
      <th>Category</th>
      <th>Description</th>
    </tr>

    <%= render goal.hours %>

  </table>