<%= div_for comment do %>

<div class="row-fluid">
  <div class="well">
    <strong> Posted <%= time_ago_in_words(comment.created_at) %> ago</strong> by  <%= User.find(comment.user_id).username %>

    <br>
    <%= comment.body.html_safe %>
  </div>
</div>

<% end %>