<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="nav-header">Settings</li>
    <li class="active"> <a href="#tab1" data-toggle="tab">Change password</a></li>
    <li><a href="#tab2" data-toggle="tab">Goals</a></li>
    <li><a href="#tab3" data-toggle="tab">Notifications</a></li>
  </ul>
<!-- leave div open -->