<li class="nav-header">Settings</li>
<li class="active"> <a href="#tab1" data-toggle="tab">Change profile</a></li>
<li><a href="#tab2" data-toggle="tab">Goals</a></li>
<li><a href="#tab3" data-toggle="tab">Notifications</a></li>
