<% provide(:title, "Edit") %>
<h1>Update your profile</h1>

<div class="row">
  <%= render partial: 'sidebar' %>
  <div class="span6 offset3">
    <%= render partial: 'edit_password' %>
  </div>
</div>
