<% provide(:title, "Users") %>
<h1>Listing users</h1>
<div class="row-fluid">
  <div class="span10 well offset1">
    <table class="users">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>

      <%= render @users %>
    </table>
    <%= will_paginate @users, class: "pages pagination" %>
  </div>
</div>