<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <div class="span6">
    <h2 class="text-center">Goals</h2>

    <div id="goals">
      <%= render :partial => @user.goals, locals: { make_edits: false } %>
    </div>
    <hr>
    <%= render partial: 'goals/form' %>
  </div>
</div>