<li class="nav-header">Settings</li>
<li class="edit_links" id="password"><%= link_to 'Change profile', "#" %></li>
<li class="edit_links" id="goal"><%= link_to 'Goals', "#" %></li>
<li class="edit_links" id="notification"><%= link_to 'Notifications', "#" %></li>
