<div class="tabbable tabs-left">
  <ul class="nav nav-tabs span2">
    <li class="nav-header">Blog</li>
    <li class="active"> <a href="#tab1" data-toggle="tab">Posts</a></li>
    <li><a href="#tab2" data-toggle="tab"><i class="icon-rss icon">RSS Feed</i></a></li>
    <li><%= link_to "New Post", new_post_path %> </li>
  </ul>
<!-- leave div open -->