<aside class="span2">
  <section>
    <ul class="nav">
      <li>
        <a href="/posts.atom"><i class="icon-rss icon-2x">   RSS</i></a>
      </li>
      <li>
        <%= link_to 'New Post', new_post_path, class: "btn btn-primary" %>
      </li>
    </ul>
  </section>
</aside>