<% provide(:title, "New Post") %>

<% content_for :sidebar do %>
  <%= render 'posts/sides/new_sidebar' %>
<% end %>

<h1>New post</h1>

<div class="row-fluid">
  <div class="span6 well">
    <%= render 'form' %>
  </div>
</div>
