<% provide(:title, "New Post") %>

<% content_for :sidebar do %>
  <%= render 'posts/sides/new_sidebar' %>
<% end %>

<h1>New post</h1>

<div class="span9 well">
  <%= render partial: 'form', locals: { button_text: "Add post"} %>
</div>
