<div class="row">
  <div class="span8 offset2">
    <h1 class="text-center">Welcome!</h1>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h3 class="text-center">Progress</h3>
    <p>Lorem Ipsom</p>
  </div>
  <div class="span4">
    <h3 class="text-center">Connections</h3>
    <p>Lorem Ipsom</p>
  </div>
  <div class="span4">
    <h3 class="text-center">Recent posts</h3>
    <p>Lorem Ipsom</p>
  </div>
</div>