<li class="nav-header">Blog</li>
<li class="active"><%= link_to 'Posts', posts_path %></li>
<li><%= link_to (fa_icon "rss", text: 'RSS Feed', class: "fa-lg"), posts_path(:atom) %></li>

<hr>
<% if current_user && current_user.admin? %>
  <li class="nav-header">Admin</li>
  <li><%= link_to "New Post", new_post_path %> </li>
<% end %>